/*==============common css start==============*/
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin:  0 auto;
}
.title{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}
.title h1{
    color: #000;
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    padding: 0 130px;
    
}
.title p{
    color: #000;
    font-size: 16px;
    padding: 10px 250px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
ul li{
    list-style: none;
    display: inline-block;
}
body{
    overflow-x: hidden;
}
/*==============common css end==============*/



/*==============banner_part satrt==============*/
#banner_part{
    width: 100%;
    margin-top: 100px;
}
#banner_part .carousel-inner img{
    position: relative;
}
#banner_part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}
#banner_part .overlay h1{
    margin-top: -40%;
    font-size: 70px;
}
/*==============banner_part end==============*/


/*==============discover_part end==============*/
#discover_part{
    width: 100%;
    margin-top: 100px;
    
}
#discover_part .item{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
#discover_part .item .img{
    width: 50%;
}
#discover_part .item .img img{
    width: 100%;
    height: 100%;
}
#discover_part .item .text{
    border: 1px solid #f1f1f1;
    padding-left: 20px;
    padding-bottom: 20px;
}
#discover_part .item .text h3{
 font-size: 25px;
 margin-top: 30px;
}
/*==============discover_partt end==============*/


/*==============explore_part start==============*/
#explore_part{
    width: 100%;
    
    margin-top: 100px;
    /*  */

}
#explore_part .explore_item{
    width: 100%;
    background: #F4FAFD;
}
#explore_part .img{
    width: 100%;
    height: 100%;
   
}
#explore_part .img img{
    width: 100%;
    height: 100%;
}
#explore_part .text{
    
    padding: 50px 0;
}
#explore_part .text ul li span{
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
#explore_part .text ul li{
    margin-right: 80px;
}
#explore_part .text h3{
    margin-left: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    
}
#explore_part .text p{
    margin-left: 40px;
    margin-bottom: 40px;
    width: 520px;
}
#explore_part .text button{
    margin-left: 40px;
    width: 200px;
    padding: 20px 0;
    margin-top: 20px;
}

/*==============explore_part end==============*/


/*==============ready_part start==============*/
#ready_part{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 400px;
}

#ready_part .ready_items{
    width: 100%;
    border-radius: 10px;
}
#ready_part .item{
    padding: 100px 0;;
}
#ready_part .item h2{
    padding-left: 150px;
    padding-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
#ready_part .item p{
    padding-left: 150px;
    width: 585px;
}
#ready_part .item button{
    background: #f1f1f1;
    padding: 10px 30px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
#ready_part .item .btn-close{
    width: 20px;
}
#ready_part .item input{
    width: 100%;
    margin-top: 20px;
}
/*==============ready_part end==============*/


















